<html lang="es">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@1,6..96&family=Righteous&display=swap"
    rel="stylesheet"
  />
  <link
    rel="shortcut icon"
    href="../../public/favicon.webp"
    type="image/x-icon"
  />
  <title>FashionMania</title>
  <body>
    <nav
      class="flex justify-center items-center p-5 bg-gradient-to-br from-slate-700 to-slate-900 text-white"
    >
      <div class="font-moda font-bold text-6xl underline">Fashion Mania</div>
    </nav>

    <slot />
  </body>
</html>
